@charset "UTF-8";

body{
    background-color: rgb(70, 142, 236);
    font: normal 20px Arial;
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    font-size: 20px;
}

#foto{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin: 20px auto;
} 

footer{
    font-style: italic;
}