@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(70, 142, 236);
    font: normal 15px Arial;
    color: white;
}

header{
    text-align: center;
    padding: 20px;
}

section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
}

footer{
    padding: 10px;
    text-align: center;
    font-style: italic;
}

img{
    height: 250px;
    width: 250px;
    border-radius: 125px;   
}

#frase{
    text-align: center;
    font-size: 1.5em;
}

#verif{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(70, 142, 236);
}